# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://rohitdutta2103_db_user:h9UlDBjrkFDg6Uju@portfolio.0mys4oa.mongodb.net/?retryWrites=true&w=majority&appName=portfolio
#rohitdutta2103_db_user
#h9UlDBjrkFDg6Uju

# Email Configuration (Choose one method)

# Method 1: SMTP (Gmail, Outlook, etc.)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rohitdutta2103@gmail.com
SMTP_PASS=bdml vxtb kyiu ajhx

# Method 2: SendGrid (Alternative)
# SENDGRID_API_KEY=your-sendgrid-api-key

# Contact Email
CONTACT_TO_EMAIL=rohitdutta2103@gmail.com

# CORS Configuration
FRONTEND_URL=http://localhost:5173

# Security (Optional)
JWT_SECRET=mysupersecretjwtkey123456
